################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/src/SampleConsoleApp/SampleConsoleApp/obj
/src/SampleConsoleApp/SampleConsoleApp/bin/Debug/net5.0
/src/SampleConsoleApp/.vs/SampleConsoleApp
/src/SampleConsoleApp/SampleConsoleAppTests/obj
/src/SampleConsoleApp/SampleConsoleAppTests/bin/Debug/.netcoreapp,version=v5.0
