@model IEnumerable<IndexViewModel.ListItem>
@using SampleWebApp.ViewModels.User

@foreach (var item in Model)
{
    <div>
        <div class="w-checkbox">
            <input type="checkbox" data-user-id="@item.Id" />
            <span class="checkbox-icon"></span>
        </div>
        <div>@item.Name</div>
        <div>@item.Email</div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $(".checkbox-icon").on("click", ChangeSelected);
    });
</script>
